.inline-block{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    
}
header{
    background-color: white;
    border-bottom: 1px solid white;
}
.v-align-middle{
    vertical-align: middle;
}
.sfondogrigio{
    background-color: whitesmoke;
    
}

.container {background-color: white;
    width: 150px;
    border: 1px solid white;
    margin-left: 250px;
    margin-top: 60px;
    

}
.firsttemplate{
    background-color: blue;
    border: 1px solid black;
    border-radius: 10%;
    box-sizing: border-box;
    padding: 10px 35px;
    color: white;
    
    
}
.secondtemplate{background-color: white;
    border: 1px solid black;
    border-radius: 10%;
    box-sizing: border-box;
    padding: 10px 35px;
    color: grey;
    
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin top: 20px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 20px;
  }

  .Editorial{
    background-color: blue;
    border: 1px solid black;
    border-radius: 10%;
    box-sizing: border-box;
    padding: 10px 35px;
    color: white;
    
  }